body {
	background-color: #ede;
	margin: 0;
	padding: 0;

}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
input[type="checkbox"]{
	position: relative;
	height: 40px;
	width: 80px;
	-webkit-appearance: none;
	appearance: none;
	background-color: #c6c6c6;
	outline:none;
	border-radius: 20px;
	transition: .5s;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}
input:checked[type="checkbox"]{
	background-color: #03a9f4;
}
input[type="checkbox"]:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 0;
	left: 0;
	background-color: #fff;
	transform: scale(1.1);
	transition: .5s;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
}
input:checked[type="checkbox"]:before{
	left: 40px;
}
