body {
	background-color: #eee;
	margin: 0;
	padding: 0;
	font-family: arial;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	height: 30px;
	text-align: center;
}
.container .text {
	color: #151719;
	font-size: 15px;
	font-weight: 600;
}
.container .loader{
	position: relative;
	width: 320px;
	height: 10px;
	border: 1px solid #666;
	margin-top: 4px;
	background-image: linear-gradient(135deg,rgb(97,135,242) 0%,rgb(97,135,242) 25%,rgb(86,121,217) 25%,rgb(86,121,217) 50%,rgb(97,135,242) 50%,rgb(97,135,242) 75%,rgb(86,121,217) 75%,rgb(86,121,217) 100%);
	background-size: 16px 16px;
	background-position: 0 0;
	background-clip: content-box;
	padding: 1px;
	animation: anim 800ms linear infinite;
}
.loader:before{
	position: absolute;
	content: '';
	width: 100%;
	height: 10px;
	background: #fff;
	right: 0;
	animation: progress 5s linear infinite;
}
@keyframes anim {
	to {
		background-position-x: -16px;
	}
}
@keyframes progress{
	0%{
		width: 100%;
	}
	30%{
		width: 75%;
	}
	45%{
		width: 60%;
	}
	50%{
		width: 50%;
	}
	75%{
		width: 20%;
	}
	90%,100%{
		width: 0%;
	}
}
