body {
	margin: 0;
	padding: 0;
 	background-color: whitesmoke;
}
#main {
	position: absolute;
	height: 70px;
	width: 70px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/*background-color: red;*/
	font-size: 12px;
	color: tomato;
	line-height: 30px;
	overflow: hidden;
}
#d1 {
	height: 25px;
	width: 25px;
	background-color: tomato;
	top: 25px;
	left: 0;
	position: absolute;
}
#d2 {
	position: absolute;
	height: 25px;
	width: 25px;
	background-color: tomato;
	top: 25px;
	left: 25px;
	animation: effect1 2s infinite linear;
}
#d3 {
	position: absolute;
	height: 25px;
	width: 25px;
	background-color: tomato;
	top: 0;
	left: 0;
	animation: effect2 2s infinite linear;
}
#d4 {
	position: absolute;
	height: 25px;
	width: 25px;
	background-color: tomato;
	top: 0;
	left: 25px;
	animation: effect3 2s infinite linear;
}
#bigsqr {
	position: relative;
	width: 50px;
	height: 50px;
	overflow: hidden;
	transform-origin: bottom left;
	animation: bigSqrEffect 2s infinite linear;
}
@keyframes effect1 {
	0%{
		transform: translateY(-50px);
	}
	25%{
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes effect2 {
	0%{
		transform: translateY(-50px);
	}
	50%{
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes effect3 {
	0%{
		transform: translateY(-50px);
	}
	75%{
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes bigSqrEffect {
	0% {
		transform: scale(1);
	}
	90% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.6);
	}
}
