/* CSS for transparent menu */
* {
	margin: 0;
	padding:0 ;
}
body {
	background-color: #87cefa;
	font-family: Calibri, sans-serif;
}
.nav-section {
	width: 100%;
	padding: 20% 0;
	background-image: url(insect.jpg);
	background-size: cover;

}
nav ul {
	width: 900px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	border-radius: 50px;
}
nav ul li {
	list-style: none;
	display: inline-block;
}
nav ul li a{
	display: block;
	text-decoration: none;
	padding: 40px 60px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 400;
	color: #323642;
	transition: background-color 0.5s ease;
}
nav ul li a:hover {
	background-color: rgba(255, 255, 255, 0.3);

}
