@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.note{
	position: fixed;
	width: 100%;
	overflow: hidden;
	background-color: #313131;
	animation: note 4s;
}
.hide{
	height: 0;
}
.center {
	width: 1000px;
	margin: auto;
	overflow: hidden;
	height: 80px;
	color: #fff;
}
.note h1{
	font-size: 20px;
	line-height: 80px;
	float: left;
	margin: 0;
}
.btn {
	font-size: 22px;
	text-decoration: none;
	color: #fff;
	margin: 0;
	float: right;
	line-height: 80px;
}
@keyframes note{
	0%{
		height: 0;
	}
	100%{
		height: 80px;
	}
}
