.container {
	width: 500px;
	height: 500px;
	position: absolute;
	margin: 150px;
	cursor: pointer;
	overflow: hidden;
}
img{
	width: 100%;
	height: 100%;
	transition: all 1s ease-in;
}
.container:hover img{
	transform: scale(1.4);
	transition: all 1s ease-in;
	filter: brightness(.4);
}

span{
	position: absolute;
	color: #fff;
	left: 30px;
	bottom: 100px;
	right: 0;
	margin: 2px;
	font-family: sans-serif;
	padding: 3px 0px;
	font-size: 32px;
	transform: translateY(50px);
	opacity: 0;
	transition: all 1s ease-in;
	font-weight: 300;
	/*text-align: justify;*/
}
.container:hover span{
	transform: translateY(-300px);
	font-size: 24px;
	/*text-align: justify;*/
	opacity: 1;
	transition: all 1s ease-in;
}
