body {
	margin: 0;
	padding: 0;
	background-color: #0079a5;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 200px;
	border-left: 6px dashed rgba(255,255,255,.1);
}
.arrow {
	position: absolute;
	top: 0;
	left: -5px;
	height: 40px;
	width: 6px;
	background: #fff;
	animation: anim 2s infinite;

}
.arrow:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: -10px;
	width: 20px;
	height: 20px;
	border-bottom: 6px solid #fff;
	border-right: 6px solid #fff;
	transform: rotate(45deg);

}
@keyframes anim {
	0%{
		transform: translateY(0);
		opacity: 0.3;
	}
	50%{
		transform: translateY(100px);
		opacity: 1;
	}
	100%{
		transform: translateY(200px);
		opacity: 0;
	}
}
