body{
	margin: 0;
	padding: 0;

}
header{
	background: linear-gradient(45deg, blueviolet, crimson);
	height: 200px;
	color: #fff;
	padding: 8px;
	padding-bottom: 50px; /* h */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
}
header:before, header:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 25px;
	height: 50px; /* h */
	/*background: radial-gradient(#fff, #fff 50%, transparent 50%);*/
	background: radial-gradient(closest-side, #fff, #fff 50%, transparent 50%); /* farthest-side */
	background-size: 50px 50px; /* h h */
	background-position: 0 25px; /* 0 h/2 */
	background-repeat: repeat-x;
}
header:after{
	background: radial-gradient(closest-side,transparent,transparent 50%,#fff 50%);
	background-size: 50px 50px;
	background-position: 25px -25px; /* h/2 h/2 */
	background-repeat: repeat-x;
	bottom: -25px;
}
