body {
	margin: 0;
	padding: 0;
	background-color: #337ab7;
}
.heading{
	color: #fff;
	text-align: center;
	padding: 10px;
}
.heading h1 {
	line-height: 36px;
}
form {
	padding: 2rem;
}
input[type=search]{
	width: 4%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: #fff;
	background-image: url(lupa.png);
	background-size: 25px 25px;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 10px 12px 40px;
	transition: .5s ease-in-out;
	outline: none;
}
input[type=search]:focus{
	width: 40%;
}
