/* CSS Slide menu */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	/*font-size: 63.5%;*/
	font-family: Roboto, serif;
	height: 100%;
}
body{
	font-size: 1.5rem;
	line-height: 2.8rem;
	height: 100%;
}
.wrapper {
	height: 100%;
}
.container {
	margin: 0 15px;
}
.row {
	padding: -15px;
	margin: 15px 0;
}
.row:before,
.row:after {
	content: '';
	display: table;
}
nav li {
	padding: 8px;
}
aside {
	background-color: #333;
	color: #fff;
	width: 40%;
	margin-left: -40%;
	float: left;
	height: 100%;
	position: absolute;
	top: 10px;
	left: 0;
}
section {
	width: 100%;
	height: 100%;
	float: right;
	margin-right: 0;
}
.toggle:checked + .wrapper>aside{
	margin-left: 0;
}
.toggle:checked + .wrapper>section{
	margin-right: -40% ;
}
.toggler {
	/*background-color: red;*/
	/*width: 50px;
	height: 50px; */
	display: inline-block;
	cursor: pointer;
}
.toggle, .bigLabel {
	display: none;
}
.bigLabel {
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
}
.toggle:checked + .wrapper>section .bigLabel{
	display: block;
}

.navicon {
	width: 28px;
	height: 28px;
	background: url('icon.png') no-repeat;
	background-size: cover;
	display: block;
}
