/* CSS for jittery - He felt jittery before interview. */
body {
	background-color: #ddd;
	margin: 100px;
}
.square {
	width: 400px;
	height: 400px;
	background-color: rgb(0, 120, 120);
}
.square:hover{
	/*background-color: red;*/
	animation: jittery .3s ease-in-out infinite;

}

@keyframes jittery {
	10% {
		transform: translate3d(-2px, -3px, 0px) scale3d(1.01, 1.01, 0);
	}
	20% {
		transform: translate3d(3px, 2px, 0px) scale3d(.99, .99, 0);
	}
	30% {
		transform: translate3d(-4px, -5px, 0px) scale3d(1.09, 1.09, 0);
	}
	40% {
		transform: translate3d(2px, 3px, 0px) scale3d(1.01, 1.01, 0);
	}
	50% {
		transform: translate3d(-2px, 1px, 0px) scale3d(1.03, 1.01, 0);
	}
	60% {
		transform: translate3d(3px, 2px, 0px) scale3d(.99, .99, 0);
	}
	70% {
		transform: translate3d(-1px, -2px, 0px) scale3d(1.02, 1.01, 0);
	}
	80% {
		transform: translate3d(-5px, -3px, 0px) scale3d(1.1, 1.1, 0);
	}
	90% {
		transform: translate3d(4px, 2px, 0px) scale3d(1, 1, 0);
	}
	100% {
		transform: translate3d(3px, 1px, 0px) scale3d(.97, .97, 0);
	}
}
