/* 3D Flip div */

.flip3d {
	width: 240px;
	height: 200px;
	margin: 10px;
	float: left;
}
.flip3d > .front {
	position: absolute;
	transform: perspective(600px) rotateY(0deg);
	background: #fc0;
	width: 240px;
	height: 200px;
	border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip3d > .back {
	position: absolute;
	transform: perspective(600px) rotateY(180deg);
	background: #0a0;
	width: 240px;
	height: 200px;
	border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip3d:hover > .front {
	transform: perspective(600px) rotateY(-180deg);
}
.flip3d:hover > .back {
	transform: perspective(600px) rotateY(0deg);
}
