.maincontainer{
	position: relative;
	width: 300px;
	height: 350px;
	/*background-color: green;*/
}
.thecard{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
	/*background-color: yellow;*/
}
.thecard:hover{
	transform: rotateY(180deg);
}
.thefront{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-color: #ffc728;
	color: #333;
}
.theback{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-color: #f3f3f3;
	color: #333;
	transform: rotateY(180deg);
}
