/* CSS for slide on Hover */

body {
	background-color: #ddd;
	padding: 100px;
}
.pictureContainer {
	width: 225px;
	height: 225px;
	overflow: hidden; /*very important for making cliping mask*/

}

.pictureContainer img {
	transition: transform.3s ease-in-out;
}

.pictureContainer img:hover {
	transform: translate3d(0px, -225px, 0px);
}
