body {
	margin: 0;
	padding: 0;
}
.banner{
	background: url(gray_background.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	width: 100%;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	padding: 30px;
}
.banner h1 {
	margin: 0;
	font-size: 100px;
}
.banner h2{
	margin: 0 0 20px 0;
	font-size: 40px;
}
.banner a{
	display: inline-block;
	padding: 10px 22px;
	color: #333;
	background: #fff;
	font-size: 22px;
	text-decoration: none;
	transition: .3s;
}
.banner a:hover{
	background: none;
	color: #fff;
}
