body {
	background-color: #333;
}
.textOverImage {
	display: inline-block;
	width: 200px;
	height: 200px;
	/*background-color: red;*/
	background-size: cover;
	border-radius: 4px;
	margin: 4px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.textOverImage > input {
	display: none;
}
.textOverImage > h2{
	margin: 0;
}
.textOverImage > div, .textOverImage > h2 {
	position: absolute;
	background-color: rgba(255, 255, 255, .7);
	bottom: 20px;
	left: 4px;
	right: 4px;
	border-radius: 4px;
	padding: 8px;
	overflow: hidden;
	opacity: 0;
	transition: .4s;
}
.textOverImage:hover > h2, .textOverImage > input:checked + h2 + div{
	opacity: 1;
	bottom: 4px;
}
.textOverImage > input:checked + h2 {
	bottom: -20px;
	opacity: 0;
}
