body {
	margin: 0;
	padding: 0;
}
a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: #333;
	padding: 10px 30px;
	border: 2px solid #333;
	text-decoration: none;
	letter-spacing: 3px;
	transition: .5s;

	overflow: hidden;
}
a:before,
a:after,
span:before,
span:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 25.5%;
	background-color: #333;
	z-index: -1;
	transition: .5s;
}
a:before {
	top: 0;
	left: -26%;
}
a:after {
	top: 0;
	right: -26%;
}
span:before{
	bottom: -100%;
	left: 25%;
}
span:after{
	bottom: 100%;
	right: 25%;
}
a:hover:before {
	left: 0;
}
a:hover:after {
	right: 0;
}
a:hover span:before{
	bottom: 0;
}
a:hover span:after {
	bottom: 0;
}
a:hover {
	color: #fff;
}
