body {
	margin: 0;
	padding: 0;
}
a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #333;
	height: 60px;
	width: 200px;
	line-height: 60px;
	text-align: center;
	font-family: Tahoma;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
}
a:before{
	content: '';
	position: absolute;
	height: 94px;
	width: 200px;
	left: -2px;
	top: -15px;
	border-left: 2px solid #333;
	border-right: 2px solid #333;
	transition: 1s;
}
a:after {
	content: '';
	position: absolute;
	height: 60px;
	width: 240px;
	left: -20px;
	top: 0px;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	transition: 1s;
}
a:hover:before{
	transform: rotateY(180deg);
}
a:hover:after{
	transform: rotateX(180deg);
}
