body {
	margin: 0px;
	padding: 0px;
	background: #ddd;
}
.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #fff;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 110px;
	font-size: 80px;
	overflow: hidden;
}
.circle .fa {
	color: #fff;
	margin: 0;
	padding: 0;
	animation: anim 1s linear infinite;
}
.circle:before {
	content: 'Scroll down';
	position: absolute;
	font-size: 12px;
	text-align: center;
}
@keyframes anim {
	0% {
		transform: translateY(-50px);
		text-shadow: 0 0px 0 #fff;
	}
	20% {
		transform: translateY(0);
		text-shadow: 0 10px 0 #fff;
	}
	40% {
		transform: translateY(0);
		text-shadow: 0 -10px 0 #fff;
	}
	60% {
		transform: translateY(0);
		text-shadow: 0 0px 0 #fff;
	}
	100% {
		transform: translateY(100px);
		text-shadow: 0 -50px 0 #fff;
	}
}
