body {
	background-color: tomato;
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
	font-size: 60px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
.bg{
	background:url(http://lorempixel.com/800/600/);
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.center {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
ul {
	padding: 0;
	margin: 0;
	display: flex;
}
ul li{
	list-style: none;
	border: 2px solid transparent; /*#fff*/
	font-size: 15px;
	font-weight: bold;
	margin: 30px;
	border-radius: 12px;
}
ul li a {
	text-decoration: none;
	padding: 15px 35px;
	display: block;
	text-align: center;
	border-radius: 15px;
}
ul li:nth-child(1) a{
	color: red;
	border: 2px solid rgba(255, 30, 50, 1);
}
ul li:nth-child(2) a{
	color: #fff;
	border: 2px solid rgba(255, 252, 255, 1);
}
ul li:nth-child(3) a{
	color: #fffc00;
	border: 2px solid rgba(255, 252, 0, 1);
}
ul li:nth-child(1) a:hover{
	box-shadow: 0px 0px 10px rgba(255,30,50,0.5), 0px 0px 10px rgba(255,30,50,1);
	background-color: rgba(255,30,50,0.5);
}
ul li:nth-child(2) a:hover{
	color: #fff;
	box-shadow: 0px 0px 10px rgba(255, 252, 255, 1), 0px 0px 10px rgba(255, 252, 255, 1);
	background-color: rgba(255, 252, 255, 0.5);
}
ul li:nth-child(3) a:hover {
	box-shadow: 0px 0px 10px rgba(255,252,0,1), 0px 0px 10px rgba(255,252,0,1);
	background-color: rgba(255,252,0,0.5);
}
