body {
	margin: 0;
	padding: 0;
}
section {
	position: relative;
	width: 100%;
	height: 950px;
}
.sec1 {
	background: url(fill1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.sec2 {
	background: url(fill2.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.sec3{
	background: url(fill3.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.sec4{
	background: url(fill.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
