body {
	margin: 0;
	padding: 0;
	background-color: #ddd;
}
h1{
	margin:0;
	padding:0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #262626;
	color: transparent;
	font-family: "Arial black";
	font-size: 10em;
}
h1:before,
h1:after {
	content: attr(data-name);
	color: #262626;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: .5s;

}

h1:before{
	-webkit-clip-path: polygon(55% 0, 0 0, 0 100%, 35% 100% );
	clip-path: polygon(55% 0, 0 0, 0 100%, 35% 100% );
	/*background-color: red;*/
}
h1:after {
	-webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 35% 100%);
	clip-path: polygon(55% 0, 100% 0, 100% 100%, 35% 100%);
	/*background-color: green;*/

}
h1:hover:before {
	top: -5px;
	left: -10px;
	transform: rotate(-10deg);
}
h1:hover:after {
	/*top: 5px;*/
	/*left: 10px;*/
	transform: rotate(10deg);
}
